@charset "utf-8";
/* CSS Document */

#myDiv { background-color: red}  
.myClass {background-color: blue !important} 
p {background-color : yellow}

.logosize{
	
	width: 30%; !important;
	font-weight:bold !important;
	font-size:190% !important;
	padding-left:1% !important;
	font-family: chiller;
	}
	.fom{
		width:50%;
		height:auto;
		  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
		  margin-top:2% !important;
		  margin-right:2% !important;
		  
		}
		.abt{
		width:95% !important;
		height:auto !important;
		  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
		  margin-top:2% !important;
		  font-family: David !important;
		  text-align:justify;
		  color: #999;
		  font-size:120% !important;
		  margin-left:2% !important;
		  background-image:url(images/12.jpg) ;
		  margin-top:2% !important;
		  
		}
		.abthd{
		  font-family: David !important;
		  color: #09c;
		  font-family:David;
		  font-weight:bold !important;
		  
		}
		.hos{
			width:80% !important;
			height:auto !important;
			margin-left:7% !important;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			margin-top:5% !important;
			
		}
		.hos1{
			width:97% !important;
			margin-top:5% !important;
			height:auto !important;
			float:left !important;
			font-size:120% !important;
			font-family:David !important;
			line-height:30px !important;
			text-align:justify !important;
			padding-right:2% !important;
			color:#666;
		}
		{
		  font-family: David !important;
		  text-align:justify;
		  color: #09c;
		  
		}
		.fom1{
		width:100% !important;
		height:auto;
		font-size:150%;
		line-height:25px;
		text-align:center !important;
		font-weight:bold !important;
		padding-top:2% !important;
		color:#09C;
		margin-bottom:2% !important;
		font-family:david;
		}
		.sub{
			margin-left:25% !important;
			
		}
		.sub2{
			margin-left:5% !important;
		}
		.sub1{
			color:#09c !important;
		}
		{
	
	width: 30%; !important;
	font-weight:bold !important;
	font-size:190% !important;
	padding-left:1% !important;
	font-family: chiller;
	}
.mynav{ background-image:url(images/hj.png) !important;}

.myslid{ 
background-image:url(images/GF.jpg) !important;
}

.mymargin{margin-top:20px !important;
width:90%!important;
height:auto!important;
float:left;
background-image: url("images/hj.png")!important;
margin-right:4%;
margin-left:5%;
background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
     

    /* Create the parallax scrolling effect */
}

.mysearch{
	background-color:#fff !important;
	margin-left:2%;

	}
	.myimg{
	
	width:20%;
	height:200px !important;
	float:left;
	margin-right: 3%;
	margin-left:2%;

	}
	.mfooter{
		float:left;
		width:100%;
	}
	.img{
	
	width:100% !important;
	height:200px !important;
	float:left;
	margin-right: 2%;

	}
	.top{
	width:100% !important;
	height:auto !important;
	float:left;
	color:#09c;
	padding-top:3%;
	padding-bottom:3%;
	text-align:center;
	line-height:25px;
	font-size:150%;
	font-family:Castellar;
	font-weight:bold !important;

	}
	.leftg{
	
	height:auto !important;
	float:left;
	color:#09c;
	padding-top:1%;
	padding-bottom:3%;
	text-align:justify;
	line-height:25px;
	font-size:120%;
	font-family:David;

	}
	.park{
	
	
	height:200px !important;
	background-image:url(images/pr.png);
	margin-left:2%;
	width:400px;

	}
	.slid{
	
	height:auto !important;
	background-image:url(images/pr.png);
	width:30% !important;
	color:#FFF !important;
	padding-top:5% !important;
	font-size: 2.28rem !important;
  line-height: 25px;
  font-family:David;
  padding-bottom:5% !important;
  text-align:center;
  margin-left:2% !important;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  
	

	}
	.slid:hover{
	
	

	}
	.sj{
		cursor:pointer !important;
	color:#FFF !important;
	width:90% !important;
	height:auto !important;
	margin-left:5% !important;
	margin-top:4% !important;
	
  
	

	}
	.sub1{
		text-align:center !important;

	}
	.sly{
	
	position: relative;
	height:auto !important;
	background-image:url(images/pr.png);
	color:#FFF;
	width:340px !important;
	padding-top:5% !important;
	font-size: 2.28rem !important;
  line-height: 25px;
  font-family:David;
  padding-bottom:5% !important;
  margin-right:2% !important;
  margin-left:2% !important;
  text-align:center;
  margin-bottom:5%;
  
	

	}
	.mybg{
		float:left;
width:100%!important;
height:auto !important;

    /* Set a specific height */
     

    /* Create the parallax scrolling effect */
   
   
	color:#fff;
	padding-top:1%;
	padding-bottom:3%;
	text-align:justify;
	line-height:25px;
	font-size:120%;
	font-family:David;
	margin-right:auto !important;
	margin-left:auto !important;
	}
	.mytxt{
	width:70%!important;
	height:auto;
	float:left;
	/* Set a specific height */
     

    /* Create the parallax scrolling effect */
   
   
	color:#fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding-top:2%;
	padding-bottom:3%;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
	line-height:30px;
	font-size:110%;
	font-family:David;
	}
	.mywel{
		width:70% !important;
		height:auto !important;
	font-size:30px !important;
	font-family:David !important;
	font-weight:bold !important;
	text-align:center !important;
	line-height:30px !important;
	color:#fff;
	float:left;
	padding-top:1% !important;
	padding-bottom:1% !important;
	margin-left:25% !important;
	margin-top:1% !important;
	
	
	}
input[type=submit] {
    width: 150px;
    background-color:#09c;
    color: #fff;
	font-size:100% !important;
    padding: 14px 20px;
    margin: 8px 0;
	margin-left:1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	}
input[type=submit]:hover {
    background-image:url(images/fto5lYX.jpg) !important;
	color: #FFF;
}
.input-field.col.s12.sub a {
	color: #06C;
	font-style:italic !important;
}
.join {
    width: 150px;
    background-color:#09c !important;
    color: #fff !important;
	font-size:100% !important;
    padding: 14px 20px;
    margin: 8px 0;
	margin-left:6% !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	}
	.contain{
		margin-left:none !important;
		margin-right:none !important;
		width:100% !important;
		height:auto!important;
		  
		}
		.contact{
		margin-left:none !important;
		margin-right:none !important;
		width:50%!important;
		height:auto !important;
		  
		}
		.logosize2{
	
	width: 40%; !important;
	font-weight:bold !important;
	font-size:190% !important;
	padding-left:1% !important;
	font-family: DAVID;
	color:#09C !important;
	margin-top:3% !important;
	}
	.map{
	
	margin-left:none !important;
		margin-right:none !important;
		width:100% !important;
		height:auto !important;; !important;
	
	}
	.sub3{
			color:#fff !important;
			background-color: #CCC !important;
		}
		.mag{
			margin-top:3% !important;
		}